body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.question-board {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
}

.question-board-header {
  display: flex;
  flex-direction: row;
}

.question-board-header-option {
  font-family: Helvitica, sans-serif;
  padding: 5px;
  flex-grow: 1;
  text-align: center
}

.question-board-header-option:hover{
  background-color: #e9f5e6;
  cursor: pointer;
}

.selected-questions {
  border-top: 1px solid gray
}

.active-option {
  background-color: #e9f5e6;
  color: #84cfe3
}

ul {
  list-style: none;
  padding: 3px;
  margin: 3px;
}

ul li:not(:first-child) {
  margin-top: 5px;
}

.board-container .question-board {
  position: absolute;
  top: 10%;
  left: 40%;
  margin-right: -50%;
  transform: translate(-5%, -5%)
}

.question {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
}
.question-author-name{
  background-color: #e9f5e6;
  margin: 0 0 15px 0;
  padding: 0 0 0 5px;
}



.question-data{
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 0;
}

.question-text-data{
  margin: 0 0 10px 5%;
  padding: 0 0 0 5%;
  border-left: 1px solid gray;
}

.question-text-data .btn {
  position: relative;
  width: 180px;
  height: 25%;
  color: #84cfe3;
  background-color: white;
  border: 1px solid gray;
  padding: 0;
  border-radius: 5px;
}
.question-text-data .btn:hover{
  background-color: #b4e3a6;
  cursor: pointer;
}

.question-author-avatar{
  margin: 0 0 0 5%;
  width: 70px;
  height: 70px;
}